/* font related styles */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family: "Azeret Mono", monospace;
  /* max-width: 1083px; */
}

*{
  margin: 0;
  padding: 0;
}

/* nav related styles */
#navigation .name{
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 28px;
  font-weight: 800;
  line-height: 33px;
  letter-spacing: 0%;
  text-align: left;
}

#navigation .btn{
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  padding: 17px 24px 17px 24px;
  opacity: 0.8;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}

#navigation{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  
}

/* hero section related styles */
#hero{
  background-image: url("..//assets/Hero-bg.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 600px;
  margin-top: 35px;
}

#hero .hero-contant{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#hero .hero-contant img{
  margin-top: 26px;
  width: 240.28px;
  height: 240px;
}

#hero .hero-contant .hero-title{
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: -10%;
  text-align: center;
  width: 998px;
}

#hero .hero-contant .subtitle{
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  width: 852px;
}

#hero .hero-contant .btn{
  border-radius: 8px;
  background: rgb(13, 19, 33);
  padding: 21px 24px 21px 24px;
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  border: none;
  margin-top: 32px;
}
